.pass-add-screen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pass-add-screen__form {
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  
  .pass-add-screen__title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .pass-add-screen__forgotpassword {
    font-size: 0.7rem;
  }
  
  .pass-add-screen__subtext {
    font-size: 0.7rem;
    display: block;
    margin: 0.25rem 0;
  }
  
  .pass-add-screen__form select{
    width: 250px;
    padding: 4px;
  }
  